<mat-toolbar color="primary">
  <!-- Navigation -->
  <span>
    <a mat-flat-button [routerLink]="['/']" color="primary">
        <mat-icon>local_hospital</mat-icon><span>Hospicool</span>
    </a>
  </span>

  <span *ngIf="user$ | async as user;">
    <span *ngIf="user.type === 'patient'">
      <a mat-flat-button [routerLink]="['/appointment-scheduler']">
        <mat-icon>calendar_today</mat-icon>Objednávanie návštev
      </a>
    </span>
    <span *ngIf="user.type === 'patient'">
        <a mat-flat-button [routerLink]="['/treatments-tracker']">
          <mat-icon>accessible_forward</mat-icon><span>Moje diagnózy</span>
        </a>
    </span>
    <span *ngIf="user.type === 'doctor'">
        <a mat-flat-button [routerLink]="['/patient-management']" color="secondary">
          <mat-icon>accessible_forward</mat-icon><span>Prehľad návštev pacientov</span>
        </a>
    </span>
  </span>

  <span class="space-fill"></span>

  <!-- Login/user area -->
  <span *ngIf="user$ | async as user; else loginPrompt">
    <mat-icon>account_circle</mat-icon>
    {{ user.username }}
    <button mat-flat-button (click)="onLogout()">Odhlásiť</button>
  </span>

  <ng-template #loginPrompt>
    <button mat-flat-button [routerLink]="['/login']">Prihlásiť</button>
  </ng-template>
</mat-toolbar>

<h1 style="text-align: center">
  Vitajte vo {{ title }}<span *ngIf="user$ | async as user">, {{ user.firstname }} {{ user.lastname }}</span>!
</h1>

<div *ngIf="user$ | async; else promo"></div>
<ng-template #promo>
  <div *ngIf="router.url == '/'" style="width: 100%; display: flex; align-items: center">
    <br>
    <div style="width: 50%; display: flex; align-items: center; justify-content: center">
      <img src="../assets/images/doctor-screen.jpg" style="width: 80%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
    </div>
    <div style="width: 50%; display: flex; justify-content: center; flex-direction: column">
      <h2 style="color:cornflowerblue">Náhľad pre doktora</h2>
      <b><mat-icon>face</mat-icon>Prihlásenie</b>
      <p>pomocou nasledujúcich mien sa môžete prihlásiť do aplikácie ako dokotor:</p>
      <ul style="text-decoration: none; list-style: none;">
        <li>healer</li>
        <li>tracer</li>
        <li>supportman</li>
        <li>kneewhacker</li>
      </ul>
      <b><mat-icon>build</mat-icon>Možnosti:</b>
      <ul style="text-decoration: none; list-style: none;">
        <li>Prezeranie a rušenie návštev</li>
        <li>Prezeranie a upravovanie zdravotných kárt pacientov</li>
      </ul>
    </div>
  </div>
  <br>
  <div *ngIf="router.url == '/'" style="width: 100%; display: flex; align-items: center">
    <div style="width: 50%; display: flex; justify-content: center; align-items: flex-end; flex-direction: column">
        <h2 style="color:cornflowerblue">Náhľad pre pacienta</h2>
        <b><mat-icon>face</mat-icon>Prihlásenie</b>
        <p>pomocou nasledujúcich mien sa môžete prihlásiť do aplikácie ako pacient:</p>
      <ul style="text-decoration: none; list-style: none;">
        <li>turing</li>
        <li>musk</li>
      </ul>
        <b><mat-icon>build</mat-icon>Možnosti:</b>
        <ul style="text-decoration: none; list-style: none;">
          <li>Objednávanie návštev u doktora</li>
          <li>Prezeranie vlastnej zdravotnej karty</li>
        </ul>
    </div>
    <div style="width: 50%; display: flex; align-items: center; justify-content: center">
      <img src="../assets/images/patient-screen1.jpg" style="width: 80%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
