// Align the mat-icons with text on the same line
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.space-fill {
    flex: 1 1 auto;
}

mat-toolbar .mat-flat-button{
    margin-right: 1rem;
}
