<div class="wacapp-container">
  <mat-card class="card-left">
    <span class="card-title">Prehľad ambulancií</span>
    <table mat-table [dataSource]="(ambulances$ | async)" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let ambulance">{{ ambulance.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Názov ambulancie</th>
        <td mat-cell *matCellDef="let ambulance">{{ ambulance.name }}</td>
      </ng-container>

      <!-- Actions column-->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcie</th>
        <td mat-cell *matCellDef="let ambulance">
          <button mat-icon-button (click)="onViewAmbulanceSchedule(ambulance)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedAmbulanceColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedAmbulanceColumns"></tr>
    </table>
  </mat-card>
  <mat-card *ngIf="selectedAmbulance" class="card-right">
    <span class="card-title">{{selectedAmbulance.name}}</span>

    <p>
      Vaše rezervácie:<br>
      <span class="own-appointments-info-text">
        (Zobrazujú sa rezervácie do zvolenej ambulancie na najbližších 30 dní)
      </span>
    </p>

    <div class="own-appointments-table-container">
      <app-appointments-table [patientSchedule$]="patientSchedule$" (appointmentCanceled)="onDateSelect(selectedDate)"></app-appointments-table>
    </div>

    <p>Dostupnosť termínov:</p>
    <!-- Table controls -->
    <mat-form-field class="appointment-date-picker">
      <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker" [min]="minAppointmentDate"
        [matDatepickerFilter]="weekDaysFilter" placeholder="Vyberte dátum" (dateChange)="onDateSelect($event.value)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="shift-doctor-label">
      <input matInput placeholder="Ošetrujúci lekar:" value="Zatiaľ neurčený" disabled="true"
        *ngIf="!(shiftDoctor$ | async)">
      <input matInput disabled="true" placeholder="Ošetrujúci lekar:" *ngIf="(shiftDoctor$ | async) as shiftDoctor"
        [value]="'MuDr. ' + shiftDoctor.firstname + ' ' + shiftDoctor.lastname">
    </mat-form-field>

    <div class="all-appointments-table-container">
      <table mat-table [dataSource]="(ambulanceSchedule$ | async)" class="mat-elevation-z8">
        <!-- Time slot from Column -->
        <ng-container matColumnDef="timeStart">
          <th mat-header-cell *matHeaderCellDef>Od</th>
          <td mat-cell *matCellDef="let element">{{ element.timeStart | date: 'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="timeEnd">
          <th mat-header-cell *matHeaderCellDef>Do</th>
          <td mat-cell *matCellDef="let element">{{ element.timeEnd | date: 'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="available">
          <th mat-header-cell *matHeaderCellDef>Dostupnosť termínu</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>{{ element.reserved ? 'closed' : 'check'}}</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Akcie</th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="!element.reserved && element.timeStart > now; else pastDeadlineWarning" mat-raised-button color="secondary"
              (click)="onRequestAppointment(selectedAmbulance, element)">Objednať</button>
            <ng-template #pastDeadlineWarning>
              <span *ngIf="!element.reserved">
                  Hraničný termín na objednanie vypršal.
              </span>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ambulanceScheduleColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ambulanceScheduleColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>