// General settings


// End of General settings


.wacapp-container table{
  width: 100%;
}

.all-appointments-table-container {
  max-height: 375px;
  overflow: auto;
  width: 100%;
}

.own-appointments-table-container {
  max-height: 200px;
  overflow: auto;
  width: 100%;
  margin-bottom: 1rem;
}

.own-appointments-info-text {
  font-size: 0.75rem;
  font-style: italic;
}

.appointment-date-picker {
  float: left;
  width: 47.5%;
}

.shift-doctor-label {
  float: right;
  width: 47.5%;
}