<div class="wacapp-container">
  <mat-card class="card-left">
    <span class="card-title">Prehľad návštev</span>
    <table mat-table [dataSource]="(appointments)" class="mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Dátum</th>
        <td mat-cell *matCellDef="let element">{{ element.timeStart | date: 'shortDate'}}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="time-start">
        <th mat-header-cell *matHeaderCellDef>Čas príchodu</th>
        <td mat-cell *matCellDef="let element">{{ element.timeStart | date: 'shortTime'}}</td>
      </ng-container>

      <!-- Time Column-->
      <ng-container matColumnDef="time-end">
        <th mat-header-cell *matHeaderCellDef>Čas odchodu</th>
        <td mat-cell *matCellDef="let element">{{ element.timeEnd |  date:'shortTime'}}</td>
      </ng-container>

      <!-- Patient Column-->
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>ID pacienta</th>
        <td mat-cell *matCellDef="let element">{{ element.patientId }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Detaily</th>
        <td mat-cell *matCellDef="let appointment">
          <button mat-icon-button (click)="getAppointment(appointment)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Cancel Column-->
      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef>Zrušiť návštevu</th>
        <td mat-cell *matCellDef="let appointment">
          <button mat-raised-button color="secondary" (click)="onCancelAppointment(appointment)">Zrušiť</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
  <mat-card *ngIf="selectedAppointment$ | async as appointment" class="card-right">
    <span class="card-title">Prehľad návštevy #{{appointment.patientId}}</span>
    <div *ngIf="selectedPatientDisease$ | async as record" class="diagnosis">
      <mat-card class="info-card" *ngIf="!record.disease_id">
        Vyberte pacientovu diagnózu.
      </mat-card>
      <mat-form-field>
        <mat-label>Súvisiaca diagnóza:</mat-label>
        <mat-select [(ngModel)]="record.disease_id"
          (selectionChange)="onDiagnosisChange($event, appointment.patientId)">
          <mat-option *ngFor="let disease of diseases$ | async" [value]="disease.id">
            {{ disease.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="loadingPatientRecord">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!loadingPatientRecord">
        <br>
        <mat-card class="info-card" *ngIf="record.disease_id">
          <span *ngIf="record.id; else newRecordWarning">
            Táto choroba bola pacientovi diagnostikovaná v minulosti. Nižšie upravte existujúci záznam.
          </span>
          <ng-template #newRecordWarning>
            Táto choroba ešte nebola pacientovi diagnostikovaná. Nižšie vytvorte nový záznam.
          </ng-template>
        </mat-card>
        <div *ngIf="record.id">
          <br><br>
          <strong>Dátum stanovenia diagnózy:</strong> <br>{{ record.created_at | date: 'short' }}
          <br> <br>

          <strong>Dátum poslednej zmeny:</strong> <br>{{ record.updated_at | date: 'short' }}<br>
        </div>
        <br>
        <mat-form-field width="100%">
          <mat-label>Informácie o diagnóze:</mat-label>
          <textarea [(ngModel)]="record.description" matInput placeholder="Pacient stav sa zhoršil..."></textarea>
        </mat-form-field> <br>
        <button mat-raised-button color="secondary" [disabled]="!record.disease_id"
          (click)="onSavePatientDiseaseRecord(record, appointment)">Uložiť</button>
      </div>
    </div>
    <!-- Table controls -->
    <div class="appointments-table-container">
    </div>
  </mat-card>
</div>