// General settings

.diagnosis {
  background: #fafafa;
  padding: 10px;
  border-radius: 3px;
}

mat-form-field {
  width: 100%
}

// End of General settings


.wacapp-container table{
  width: 100%;
}

.appointments-table-container {
  max-height: 400px;
  overflow: auto;
  width: 100%;
}

.appointment-date-picker {
  float: left;
  width: 47.5%;
}

.shift-doctor-label {
  float: right;
  width: 47.5%;
}
