<h3>
  Zrušenie termínu
</h3>
<h4 class="modal-subtitle">
  {{ambulance.name}} -
  {{appointment.timeStart | date: 'shortTime' }} - {{appointment.timeEnd | date: 'shortTime' }}
</h4>


<p class="request-success-msg" *ngIf="requestSuccessful">
  <mat-icon>done</mat-icon> Termín bol úspešne zrušený.
</p>
<p class="request-failure-msg" *ngIf="requestFailed">
  <mat-icon>error_outline</mat-icon> Zrušenie termínu nebolo úspešné. Skúste požiadavku opakovať neskôr.
</p>

<button *ngIf="!loading && !requestSuccessful" mat-raised-button color="secondary" (click)="onClickConfirm()">
  <mat-icon>check</mat-icon> Potvrdiť zrušenie termínu
</button>

<button *ngIf="!loading && !requestSuccessful" mat-raised-button color="secondary" (click)="onClickCancel()">
  <mat-icon>closed</mat-icon> Späť
</button>

<mat-spinner *ngIf="loading" [diameter]="36"></mat-spinner>