<div class="login-form-container" *ngIf="data$ | async as data" (keydown.enter)="onLogin(data.username, data.password)">
    <mat-card-header>
        <mat-card-title>Prihlásenie</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field>
            <input matInput type="text" placeholder="Používateľské meno alebo e-mail" [(ngModel)]="data.username">
            <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <!-- <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="data.password">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field> -->
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="onLogin(data.username, data.password)">Prihlásiť</button>
        <button mat-raised-button [routerLink]="['/']">Zrušiť</button>
    </mat-card-actions>

    <p *ngIf="authInProgress" class="login-form-state-msg">Prebieha prihlasovanie...</p>
    <p *ngIf="!authInProgress && authFailed" class="msg-error login-form-state-msg">
        <mat-icon>error_outline</mat-icon> Prihlásenie neúspešné
    </p>
    <p>Neviete sa prihlásiť? Registrujte sa <a href="#">tu</a>.</p>
</div>