.login-form-container {
    text-align: center;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
  
.login-form-container mat-form-field {
    width: 100%;
}

.login-form-container .login-form-state-msg {
    font-style: italic;
}

.msg-error {
    color: #681901;
}