/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.wacapp-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .wacapp-container .card-left{
    width: 60%;
    background-color:#EDE7F6;
  }
  
  .wacapp-container .card-right{
    margin-left: 10px;
    width: 40%;
    background-color:#EDE7F6;
  }
  
  .wacapp-container .card-title{
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

mat-card.info-card {
  background: cornflowerblue; 
  color: white
}

mat-card.warning-card {
  background: orange; 
}