<table mat-table [dataSource]="(patientSchedule$ | async)" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Dátum</th>
    <td mat-cell *matCellDef="let element">{{ element.timeStart | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="timeStart">
    <th mat-header-cell *matHeaderCellDef>Od</th>
    <td mat-cell *matCellDef="let element">{{ element.timeStart | date: 'shortTime' }}</td>
  </ng-container>

  <ng-container matColumnDef="timeEnd">
    <th mat-header-cell *matHeaderCellDef>Do</th>
    <td mat-cell *matCellDef="let element">{{ element.timeEnd | date: 'shortTime' }}</td>
  </ng-container>

  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef>Poznámka pacienta</th>
    <td mat-cell *matCellDef="let element">
      {{ (element.notes) ? (element.notes.length > 40 ? (element.notes | slice:0:40) + '..' : element.notes) : '---'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Akcie</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="secondary"
        (click)="onCancelAppointment(element)" *ngIf="element.timeStart > now; else deadlineExpiredWarning">Zrušiť</button>
        <ng-template #deadlineExpiredWarning>
          Stretnutie už nie je možné zrušiť.
        </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="patientScheduleColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: patientScheduleColumns"></tr>
</table>