<h3>
  Rezervácia termínu<br>
</h3>
<h4 class="modal-subtitle">
  {{ambulance.name}} -
  {{appointment.timeStart | date: 'shortTime' }} - {{appointment.timeEnd | date: 'shortTime' }}
</h4>

<mat-form-field>
  <mat-label>Dôvod návštevy:</mat-label>
  <mat-select [(value)]="appointment.patientDiseaseId">
    <mat-option [value]="0">
        Neviem čo mi je
    </mat-option>
    <mat-option *ngFor="let record of patientsDiseases$ | async" [value]="record.id">
      {{ record.disease.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field width="100%">
  <textarea [(ngModel)]="appointment.notes" matInput placeholder="Odkaz pre lekára:"></textarea>
</mat-form-field>

<p class="request-success-msg" *ngIf="requestSuccessful">
  <mat-icon>done</mat-icon> Rezervácia bola úspešná.
</p>
<p class="request-failure-msg" *ngIf="requestFailed">
  <mat-icon>error_outline</mat-icon> Rezervácia nebola úspešná. Skúste požiadavku opakovať neskôr.
</p>

<button *ngIf="!loading && !requestSuccessful" mat-raised-button color="secondary" (click)="onClickCreateAppointment()">
  <mat-icon>check</mat-icon> Záväzne objednať
</button>

<button *ngIf="!loading && !requestSuccessful" mat-raised-button color="secondary" (click)="onClickCancel()">
  <mat-icon>closed</mat-icon> Zrušiť
</button>

<mat-spinner *ngIf="loading" [diameter]="36"></mat-spinner>
