button {
    margin-left: 1rem;
    float: right;
}

.modal-subtitle {
    font-weight: normal;
}

mat-form-field {
    width: 100%
}

mat-spinner {
    float: right;
}

.request-success-msg {
    text-align: center;
    color: #00660b;
}
.request-failure-msg {
    text-align: center;
    color: #681901;
}