<div class="wacapp-container">
  <mat-card class="card-left">
    <span class="card-title">Prehľad chorôb</span>
    <table mat-table [dataSource]="(patientsDiseases$ | async)" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let record">#{{ record.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Názov choroby</th>
        <td mat-cell *matCellDef="let record">{{ record.disease.name }}</td>
      </ng-container>

      <!-- Time of discovery -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Dátum zistenia</th>
        <td mat-cell *matCellDef="let record">{{ record.created_at | date: 'short' }}</td>
      </ng-container>

      <!-- Time of last modification -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef>Posledná aktualizácia</th>
        <td mat-cell *matCellDef="let record">{{ record.updated_at | date: 'short' }}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcie</th>
        <td mat-cell *matCellDef="let record">
          <button mat-icon-button (click)="onViewHealthCardRecord(record)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
  <mat-card *ngIf="selectedRecord" class="card-right">
    <span class="card-title">Podrobné informácie o zázname #{{selectedRecord.id}}</span>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <p>
            <strong>Dátum nálezu:</strong> {{selectedRecord.created_at | date: 'short' }}
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <p>
            <strong>Posledná zmena:</strong> {{selectedRecord.updated_at | date: 'short' }}
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <br>

    <mat-card>
      <p>
        <strong>Poznámky od doktora:</strong><br> {{selectedRecord.description}}
      </p>
    </mat-card>
    <br>

    <mat-card>
      <span class="card-title">Súvisiace návštevy:</span>
    </mat-card>
    <br>
    <app-appointments-table [patientSchedule$]=(relatedAppointments$) (appointmentCanceled)="refreshAppointments()"></app-appointments-table>
  </mat-card>
</div>